/* Loader */
@keyframes scaleout {
    0% {
        transform: scale(0.0);
    } 100% {
          transform: scale(1.0);
          opacity: 0;
      }
}

.batmap {
  &__spinner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 50px 0 0 50px;
    background-color: #333;
    border-radius: 100%;
    animation: scaleout 1.0s infinite ease-in-out;
  }

  &__map {
    position: relative;
    z-index: 0;
  }
}

/* Mappy */
.batmap-mappy {
  .mappy-control-zoom {
    a {
      span {
        position: relative;
        top: -5px;
      }
    }
  }
}

.batmap-mappy {
  .leaflet-control {
    &.leaflet-control {
      &-attribution,
      &-scale {
        padding: 0 5px;
      }
    }
  }
}

/* Leaflet */
.batmap-leaflet {
  &.leaflet-touch {
    .leaflet-bar {
      a {
        line-height: 26px;
      }
    }
  }
}
